*{
  background-color: rgb(63, 69, 49);
}

h1{
  color: rgb(95, 221, 157);
}

.Work{
  color: rgb(118, 247, 191);
}

#Matter{
  color: rgb(95, 221, 157);
}

#RGB{
  background-color: rgb(118, 247, 191);
}

#Hex{
   background-color: #499167; 
}

#RGBA{
  background-color: rgba(145, 249, 229, 0.5);
}